<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form th:method="POST" th:action="@{/edit/(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="name">Enter Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="name">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Done"/>

</form>

</body>
</html>